## Часть 1: Введение в Pandas

Pandas - это библиотека Python для работы с данными. Она предоставляет мощные инструменты для анализа и манипуляции данными.

### Установка Pandas

Для начала убедитесь, что у вас установлена библиотека Pandas. Если ее нет, установите ее с помощью команды:

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\nceyden\appdata\local\programs\python\python312\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\nceyden\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nceyden\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\nceyden\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\nceyden\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\nceyden\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

## Импорт библиотеки
Давайте начнем с импорта библиотеки Pandas:

In [3]:
import pandas as pd

## Часть 2: Работа с данными
### Чтение данных
Мы будем использовать датасет Titanic. Давайте прочитаем данные из CSV файла.

In [7]:
# Чтение данных из файла 'titanic.csv'
# Используйте метод pd.read_csv()
data = pd.read_csv('titanic.csv')

### Предпросмотр данных
Для первого ознакомления с данными давайте выведем первые несколько строк.

In [8]:
# Вывод первых 5 строк данных
# Используйте метод .head()
print(data.head(5))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

### Информация о данных
Чтобы получить общую информацию о данных, воспользуйтесь методом .info().

In [9]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

### Работа с NaN
Часто данные содержат пропущенные значения, которые представляются как NaN (Not a Number). Pandas предоставляет удобные методы для работы с ними.

Проверка на наличие NaN. Методы fillna и dropna возвращают новые Dataframe, проверьте нет ли в них NaN

In [19]:
print(data.isna())

     PassengerId  Survived  Pclass   Name    Sex    Age  SibSp  Parch  Ticket  \
0          False     False   False  False  False  False  False  False   False
1          False     False   False  False  False  False  False  False   False
2          False     False   False  False  False  False  False  False   False
3          False     False   False  False  False  False  False  False   False
4          False     False   False  False  False  False  False  False   False
..           ...       ...     ...    ...    ...    ...    ...    ...     ...
886        False     False   False  False  False  False  False  False   False
887        False     False   False  False  False  False  False  False   False
888        False     False   False  False  False   True  False  False   False
889        False     False   False  False  False  False  False  False   False
890        False     False   False  False  False  False  False  False   False

      Fare  Cabin  Embarked
0    False   True     False
1    False  False     False
2    False   True     False
3    False  False     False
4    False   True     False
..     ...    ...       ...
886  False   True     False
887  False  False     False
888  False   True     False
889  False  False     False
890  False   True     False

[891 rows x 12 columns]

Заполнение NaN

In [20]:
filled_data = data.fillna(0)

Удаление строк с NaN

In [17]:
dropped_data = data.dropna()

## Часть 3: Обработка DataFrame
### Выбор данных
Pandas позволяет выбирать данные по индексам, меткам столбцов и условиям.

In [25]:
# выбор столбца по метке
# н-р, столбец 'Age'
age_columns = data['Age']
print("Столбец 'Age':")
print(age_columns.head())

# выбор нескольких столбцов
# н-р, столбцы 'Name' и 'Sex'
name_sex_columns = data[['Name', 'Sex']]
print("\n Столбцы 'Name' и 'Sex':")
print(name_sex_columns.head())

# выбор строк по индексу
# н-р, строки с индексами от 3 до 5 включительно
indexed_rows = data.loc[3:5]
print("\n Строки по индексам от 3 до 5:")
print(indexed_rows)

# выбор строк и столбцов по условию
# н-р, выберем мужчин старше 30
male_over_30 = data[(data['Sex'] == 'male') & (data['Age'] > 30)]
print("\n Мужчины старше 30 лет:")
print(male_over_30.head())

Столбец 'Age':
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

 Столбцы 'Name' и 'Sex':
                                                Name     Sex
0                            Braund, Mr. Owen Harris    male
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female
2                             Heikkinen, Miss. Laina  female
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
4                           Allen, Mr. William Henry    male

 Строки по индексам от 3 до 5:
   PassengerId  Survived  Pclass  \
3            4         1       1
4            5         0       3
5            6         0       3

                                           Name     Sex   Age  SibSp  Parch  \
3  Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0
4                      Allen, Mr. William Henry    male  35.0      0      0
5                              Moran, Mr. James    male   NaN      0      0

   Ticket     Fare Cabin Embarked
3  113803  53.1000  C123        S
4  373450   8.0500   NaN        S
5  330877   8.4583   NaN        Q

 Мужчины старше 30 лет:
    PassengerId  Survived  Pclass                         Name   Sex   Age  \
4             5         0       3     Allen, Mr. William Henry  male  35.0
6             7         0       1      McCarthy, Mr. Timothy J  male  54.0
13           14         0       3  Andersson, Mr. Anders Johan  male  39.0
20           21         0       2         Fynney, Mr. Joseph J  male  35.0
21           22         1       2        Beesley, Mr. Lawrence  male  34.0

    SibSp  Parch  Ticket     Fare Cabin Embarked
4       0      0  373450   8.0500   NaN        S
6       0      0   17463  51.8625   E46        S
13      1      5  347082  31.2750   NaN        S
20      0      0  239865  26.0000   NaN        S
21      0      0  248698  13.0000   D56        S

### Сортировка данных
Сортировка данных по значениям столбцов.

In [39]:
sorted_data = data.sort_values(by='Age')

print(sorted_data.head())

     PassengerId  Survived  Pclass                             Name     Sex  \
803          804         1       3  Thomas, Master. Assad Alexander    male
755          756         1       2        Hamalainen, Master. Viljo    male
644          645         1       3           Baclini, Miss. Eugenie  female
469          470         1       3    Baclini, Miss. Helene Barbara  female
78            79         1       2    Caldwell, Master. Alden Gates    male

      Age  SibSp  Parch  Ticket     Fare Cabin Embarked
803  0.42      0      1    2625   8.5167   NaN        C
755  0.67      1      1  250649  14.5000   NaN        S
644  0.75      2      1    2666  19.2583   NaN        C
469  0.75      2      1    2666  19.2583   NaN        C
78   0.83      0      2  248738  29.0000   NaN        S

### Группировка данных
Pandas также позволяет группировать данные и выполнять агрегирующие операции.

In [38]:
survival_rate_by_pclass = data.groupby('Pclass')['Survived'].mean()

print("Доля выживших по каждому классу:\n" )
print(survival_rate_by_pclass)

Доля выживших по каждому классу:

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

## Часть 4: Задания для практики
Прочитайте данные из файла 'titanic.csv'.
Проверьте, есть ли пропущенные значения в данных и заполните их нулями.
Выведите первые 10 строк данных.
Выберите только те строки, где значение в столбце 'Age' больше 30.
Отсортируйте данные по столбцу 'Fare' в порядке убывания.
Сгруппируйте данные по столбцу 'Pclass' и вычислите средний возраст ('Age') для каждого класса.

In [41]:
data.fillna(0)

print("Первые 10 строк данных:")
print(data.head(10))

age_over_30 = data[data['Age'] > 30]

sorted_data_by_fare = data.sort_values(by='Fare', ascending=False)

average_age_by_pclass = data.groupby('Pclass')['Age'].mean()

print("\n Строки, где возраст больше 30:")
print(age_over_30)

print("\n Данные, отсортированные по столбцу 'Fare' в порядке убывания:")
print(sorted_data_by_fare)

print("\n Средний возраст ('Age') для каждого класса:")
print(average_age_by_pclass)

Первые 10 строк данных:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C

 Строки, где возраст больше 30:
     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
4              5         0       3
6              7         0       1
11            12         1       1
..           ...       ...     ...
873          874         0       3
879          880         1       1
881          882         0       3
885          886         0       3
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
873                        Vander Cruyssen, Mr. Victor    male  47.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
881                                 Markun, Mr. Johann    male  33.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch    Ticket     Fare Cabin Embarked
1        0  PC 17599  71.2833   C85        C
3        0    113803  53.1000  C123        S
4        0    373450   8.0500   NaN        S
6        0     17463  51.8625   E46        S
11       0    113783  26.5500  C103        S
..     ...       ...      ...   ...      ...
873      0    345765   9.0000   NaN        S
879      1     11767  83.1583   C50        C
881      0    349257   7.8958   NaN        S
885      5    382652  29.1250   NaN        Q
890      0    370376   7.7500   NaN        Q

[305 rows x 12 columns]

 Данные, отсортированные по столбцу 'Fare' в порядке убывания:
     PassengerId  Survived  Pclass                                Name  \
258          259         1       1                    Ward, Miss. Anna
737          738         1       1              Lesurer, Mr. Gustave J
679          680         1       1  Cardeza, Mr. Thomas Drake Martinez
88            89         1       1          Fortune, Miss. Mabel Helen
27            28         0       1      Fortune, Mr. Charles Alexander
..           ...       ...     ...                                 ...
633          634         0       1       Parr, Mr. William Henry Marsh
413          414         0       2      Cunningham, Mr. Alfred Fleming
822          823         0       1     Reuchlin, Jonkheer. John George
732          733         0       2                Knight, Mr. Robert J
674          675         0       2          Watson, Mr. Ennis Hastings

        Sex   Age  SibSp  Parch    Ticket      Fare        Cabin Embarked
258  female  35.0      0      0  PC 17755  512.3292          NaN        C
737    male  35.0      0      0  PC 17755  512.3292         B101        C
679    male  36.0      0      1  PC 17755  512.3292  B51 B53 B55        C
88   female  23.0      3      2     19950  263.0000  C23 C25 C27        S
27     male  19.0      3      2     19950  263.0000  C23 C25 C27        S
..      ...   ...    ...    ...       ...       ...          ...      ...
633    male   NaN      0      0    112052    0.0000          NaN        S
413    male   NaN      0      0    239853    0.0000          NaN        S
822    male  38.0      0      0     19972    0.0000          NaN        S
732    male   NaN      0      0    239855    0.0000          NaN        S
674    male   NaN      0      0    239856    0.0000          NaN        S

[891 rows x 12 columns]

 Средний возраст ('Age') для каждого класса:
Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64